@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


.header {
    font-family: 'Montserrat', sans-serif;
    background-color: #DA4D4A !important;
    justify-content: space-between;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 0; 
}

.mechlevelsheader:hover {
    color: #00f97c;
    transition-duration: 0.5s;
}

.header__center > input {
    background-color: #FD8583;
    border: none; 
    text-align: center; 
    min-width: 35vw;
}


.headerleft__meettheteamA {
    margin-right: 20px;
    cursor: pointer;
}

.headerleft__meettheteamA:hover {
    color: #00f97c;
    transition-duration: 0.5s;
}

.headerright__addA {
    margin-right: 20px;
    cursor: pointer;
}

.headerright__addA:hover {
    color: #00f97c;
    transition-duration: 0.5s;

}

.logoutbutton {
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.logoutbutton:hover {
    background-color: #DA4D4A;
    color: white;
    transition-duration: 0.5s;


}

