@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


.header {
    font-family: 'Montserrat', sans-serif;
    background-color: #02203c;
}

.mechlevels__title {
    color: white;
}

.mechlevels__desc {
    color: white;
}

.logoutbutton {
    background-color: #00f97c;
    color: #02203c;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 5px;
}

.logoutbutton:hover {
    background-color: white;
    color: #00f97c;
    transition-duration: 0.5s;
}

.searchinput {
    margin-bottom: 5px;
    width: 300px;
    background-color: transparent;
    border: none;
    color: #00f97c;
}