@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.loginbottomer {
    margin-top: 5px;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}