@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.loginpage {
    background-color: #f27b48;
    color: white;
    font-family: 'Poppins', sans-serif;

}

.login__header {
    font-size: 50px;
}

.login__desc {
    margin-top: 50px;
}


.login__googlebutton {
    background-color: #4f527e;
    margin-top: 50px;
    margin-bottom: 5px;
    color: white;
}

.explanation {
    font-family: 'Poppins', sans-serif;
    background-color: #4f527e;
    margin-top: 5px;
    color: white;

}

.addcomptext {
    margin-top: 10px;
}